* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

body h1 {
  text-align: center;
  margin-top: 30px;
}

body h3 {
  padding: 0px 30px;
}

.item-input {
  width: 25%;
  padding: 20px 30px;
}

.radio-item {
  margin-left: 20px;
}
